name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: livchea12
          outputs: dist/github-contribution-grid-snake-dark.svg
          svg_out_size: 960_120
          color_snake: "#58a6ff"
          color_dots: "#30363d"
          color_empty: "#161b22"
          color_background: "#0d1117"

      - name: Push generated svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
          commit_message: "Generate Contribution Snake"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
